.root {
    -fx-background-image: url('bg.png');
    -fx-background-size: cover; /* Or use contain, depending on your preference */
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.goldRoot {
    -fx-background-color: #4b4a08;
}

.label {
    -fx-text-fill: #000;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
    -fx-font-weight: 400;
}

#scoreLabel {
    /*-fx-border-color: black;
    -fx-border-width: 2px;*/
    -fx-background-color: white;
    -fx-background-radius: 1;
    -fx-opacity: 1;
    -fx-background-insets: 10;
}

#heartLabel {
    /*-fx-border-color: black;
    -fx-border-width: 2px;*/
    -fx-background-color: white;
    -fx-background-radius: 1;
    -fx-opacity: 1;
    -fx-background-insets: 10;
}

#levelLabel {
    /*-fx-border-color: black;
    -fx-border-width: 2px;*/
    -fx-label-padding: 10px;
    -fx-margin: -50px;
    -fx-background-color: white;
    -fx-background-radius: 1;
    -fx-opacity: 1;
    -fx-background-insets: 10;
}

#startMenuVBox {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-padding: 20px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #ff6347;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #e55347;
}

