.root {
    -fx-background-image: url('bg.png');
    -fx-background-size: cover; /* Or use contain, depending on your preference */
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.goldRoot {
    -fx-background-color: #4b4a08;
}

.label {
    -fx-text-fill: #000;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
    -fx-font-weight: 400;
}

#heartLabel {
    /*-fx-border-color: black;
    -fx-border-width: 2px;*/
}

#levelLabel {
    /*-fx-border-color: black;
    -fx-border-width: 2px;*/
    -fx-label-padding: 10px;
    -fx-margin: -50px;
}

